<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <linkManager>
      <providers>
        <add patch:instead="*[@name='sitecore']" name="sitecore" type="Sitecore.Feature.Events.SitecoreCustomisation.EventsLinkProvider, Sitecore.Feature.Events"  addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="asNeeded" languageLocation="filePath" lowercaseUrls="false" shortenUrls="true" useDisplayName="false" />
      </providers>
    </linkManager>

    <pipelines>
      <mvc.getPageRendering>
        <processor type="Sitecore.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Sitecore.Foundation.Assets">
          <defaultAssets hint="raw:AddAsset">
            <asset type="Css" file="/Content/Events/eventList.css" />
            <asset type="Css" file="/Content/Events/calendar.css" />
            <asset type="Css" file="/Content/Events/eventDetail.css" />

            <asset type="Javascript" file="/Scripts/Events/moment.min.js" />
            <asset type="Javascript" file="/Scripts/Events/fullcalendar.min.js" />
            <asset type="Javascript" file="/Scripts/Events/EventsCalendar.js" />


          </defaultAssets>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>